<!-- <button mat-raised-button color="primary" (click)="onClick($event)">
    Primary
</button>

<mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" [(ngModel)]="title">
</mat-form-field>

<p *ngIf="isVisible">
    Ciao, sono un paragrafo!
</p>
<p *ngIf="!isVisible">
    Ciao, sono un paragrafo invisibile!
</p>

<ng-template *ngIf="isVisible; then ifBlock else elseBlock"></ng-template>
<ng-template #ifBlock>
    <p>
        Sono visibile
    </p>
</ng-template>
<ng-template #elseBlock>
    <p>
        Non sono visibile
    </p>
</ng-template> -->

<ul>
    <li *ngFor="let person of people; index as i">
        <div class="circle" [ngClass]="{'online-circle online-circle-plus': person.isOnline, 'offline-circle': !person.isOnline}">
            i
        </div>
        <div [ngStyle]="{color: person.color}">
            {{person.name}} {{person.surname}}
        </div>
    </li>
</ul>
