.example-card {
    max-width: 400px;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: blue;
    margin-right: 10px;
    text-align: center;
}

li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;   
}

li > p {
    margin-bottom: 0;
}

.online-circle {
    background-color: green;
    color: white;
}

.offline-circle {
    background-color: red;
    color: orange;
}

.online-circle-plus {
    border: 4px solid yellow;
}