<!-- <button mat-raised-button color="primary" (click)="onClick($event)">
    Primary
</button>

<mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" [(ngModel)]="title">
</mat-form-field>

<p *ngIf="isVisible">
    Ciao, sono un paragrafo!
</p>
<p *ngIf="!isVisible">
    Ciao, sono un paragrafo invisibile!
</p>

<ng-template *ngIf="isVisible; then ifBlock else elseBlock"></ng-template>
<ng-template #ifBlock>
    <p>
        Sono visibile
    </p>
</ng-template>
<ng-template #elseBlock>
    <p>
        Non sono visibile
    </p>
</ng-template> -->

<div [ngSwitch]="number">
    <p *ngSwitchCase="1">
        one
    </p>
    <p *ngSwitchCase="2">
        two
    </p>
    <p *ngSwitchCase="3">
        three
    </p>
    <p *ngSwitchCase="4">
        four
    </p>
    <p *ngSwitchDefault>
        five
    </p>
</div>

<div [ngSwitch]="string">
    <p *ngSwitchCase="'john'">
        john
    </p>
    <p *ngSwitchCase="'brad'">
        brad
    </p>
    <p *ngSwitchCase="'alan'">
        alan
    </p>
    <p *ngSwitchCase="'mary'">
        mary
    </p>
    <p *ngSwitchDefault>
        steve
    </p>
</div>